.card {
  background: white;
  box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 10px;
  position: relative; }
  @media (min-width: 37.5em) {
    .card {
      box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.7); } }

.jumbo-card {
  padding: 0px 20px 20px; }
  .jumbo-card-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    order: -1;
    width: 100%; }
  .jumbo-card-content {
    padding: 20px 0px; }

.twoSide-card {
  column-gap: 10px;
  display: grid;
  padding: 0px; }
  @media (max-width: 37.5em) {
    .twoSide-card {
      grid-template: 60px 1fr/3fr 2fr; } }
  @media (min-width: 37.5em) {
    .twoSide-card {
      grid-template: 60px 1fr/3fr 2fr; } }
  .twoSide-card-title {
    grid-column: 2/3; }
  .twoSide-card-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    grid-column: 1/2;
    height: 100%;
    order: -1;
    position: absolute;
    width: 100%; }
  .twoSide-card-content {
    box-sizing: border-box;
    grid-column: 2/3;
    height: 100%;
    padding: 20px 0px;
    text-overflow: ellipsis;
    overflow: hidden; }
  .twoSide-card-btn {
    grid-column: 2/2; }

.min-card {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0; }
  .min-card-title {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    order: 1;
    padding: 10px;
    position: absolute;
    width: 100%; }
  .min-card-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    order: -1;
    width: 100%; }
  .min-card .min-card-content {
    background: white;
    box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    height: 100%;
    overflow: auto;
    padding: 20px;
    position: absolute;
    transform: translateY(300px);
    transform-origin: bottom center;
    transition: 400ms ease-out;
    visibility: collapse; }
    .min-card .min-card-content.is-mouse-over {
      position: absolute;
      transform: translateY(20px);
      visibility: visible; }
  .min-card-btn {
    bottom: 0;
    margin: 10px;
    position: absolute;
    right: 0;
    transition: 500ms ease-out;
    transform: translateY(320px); }
    .min-card-btn.is-mouse-over {
      transform: translateY(0); }
