@import "../style//mobileBreakPoints.scss";
@import "../style/basics.scss";

.card {
  background: white;
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

  height: 100%;
  position: relative;

  @include media(phablet) {
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.7);
  }
}

.twoSide-card {
  row-gap: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr auto auto;
  padding: 0px;

  @include media(tablet) {
    grid-template-rows: auto auto auto;
  }
  @include media(laptop) {
    grid-template-rows: 5fr auto auto;
  }
  
  

  &-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    grid-row: 1/2;
    height: 100%;
    order: -1;
    position: relative;
    width: 100%;
  }

  &-title {
    font-size: $font-size-large;
    grid-row: 2/3;
    margin: 10px 10px 0;
    padding: 0 10px;
  }

  &-content {
    font-size: $font-size-small;
    grid-row: 3/4;
    margin: 0px 10px 10px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include media(phablet) {
      margin: 0px 10px 20px;
    }
  }

  .button {
    grid-row: 4/5;
    font-size: font-size-small;

    a {
      height: 100%;
      width: 100%;
    }
  }
}

.min-card {
  $squareSize: 300px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;

  &-title {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    bottom: 0;
    color: white;
    font-size: font-size-xlarge;
    font-weight: normal;
    margin: 0;
    order: 1;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 11;
  }

  &-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    order: -1;
    width: 100%;
  }

  .min-card-content {
    background: white;
    box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.2);
    font-size: $font-size-normal;
    height: 100%;
    overflow: auto;
    padding: 20px;
    position: absolute;
    transform: translateY($squareSize);
    transform-origin: bottom center;
    transition: 400ms ease-out;
    width: 100%;
    visibility: collapse;
    z-index: 22;

    &.is-mouse-over {
      position: absolute;
      transform: translateY(20px);
      visibility: visible;
    }
  }
  &.is-mouse-over {
    transform: translateY(0);
  }
}
