@import '../style//mobileBreakPoints.scss';

.tips-page {
    background: #f8f8f8;
    padding: 16px;



    .search-input {
        @include media(desktop) {
            margin: 20px 100px 0;

        }
    }

    .grid {
        display: grid;
        grid-gap: 16px;

        @include media(mobile) {
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
        }

        @include media(phablet) {
            grid-template-columns: 1fr 1fr;
            margin-top: 40px;
        }

        @include media(laptop) {
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: 300px 300px 1fr;
        }

        .card {
            @include media(mobile) {
                grid-column: span 2;

                &:nth-child(2),
                &:nth-child(3) {
                    grid-column: span 1;
                    height: 200px;
                    margin-bottom: 30px;
                }
            }

            @include media(phablet) {
                grid-column: span 2;

                &:nth-child(2),
                &:nth-child(3) {
                    grid-column: span 1;
                    height: 200px;
                    margin-bottom: 30px;
                }
            }

            @include media(laptop) {
                grid-column: span 3;

                &:first-child {
                    grid-column: span 7;
                    grid-row: span 2;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    grid-column: span 2;
                    height: 100%;
                }

            }
        }


    }
}