@import "../style//mobileBreakPoints.scss";
.tips-page {
    padding: 0px 10px;
    @include media(tablet) {
    padding: 16px;
    margin: 20px 100px 0;
  }

  .search-input {
    @include media(desktop) {
      margin: 20px 100px 0;
    }
  }

  .grid {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    margin: 20px 0 60px;

    @include media(phablet) {
      margin: 30px 0;
    }

    @include media(laptop) {
      grid-template-rows: 300px 300px 1fr;
    }

    &-item {
      border-radius: 10px;
      box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5);
      grid-column: span 12;
      height: auto;
      overflow: hidden;
      &:first-child {
        font-size: 1em;
        height: auto;
        margin-top: 10px;
      }
      &:nth-child(n + 2) {
        font-size: 1em;
      }

      @include media(phablet) {
        border-radius: 0px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.7);

        &:first-child {
          grid-column: span 12;
          grid-row: span 2;
          margin: 0;
        }
        &:nth-child(n + 2) {
          grid-column: span 6;
          height: auto;
        }
        &:nth-child(n + 4) {
          grid-column: span 6;
        }
      }

      @include media(desktop) {
        &:first-child {
          grid-column: span 8;
          grid-row: span 2;
        }
        &:nth-child(n + 2) {
          grid-column: span 4;
          height: 100%;
        }
        &:nth-child(n + 4) {
          grid-column: span 3;
          font-size: smaller;
          height: 300px;
        }
      }
    }
  }
}
