.search-input {
    align-items: stretch;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    height: 45px;
    margin-top: 20px;

    input {
        border: none;
        border-radius: 20px 0 0 20px;
        box-sizing: border-box;
        flex-basis: 93%;
        outline: none;
        padding: 10px 20px;

        &:focus {
            box-shadow: 0 0 5px rgba(100, 150, 255, 0.7);
            transition: 200ms;
        }

    }

    .magnifier {
        align-items: center;
        background: #18c033;
        border-radius: 0 20px 20px 0;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex-basis: 7%;
        justify-content: center;
        position: relative;
        user-select: none;
        transition: filter 100ms;

        &:hover{
            filter: brightness(105%);
        }
        &:active{
            filter: brightness(95%);
        }
    }
}