.search-input {
  align-items: stretch;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  height: 45px;
  margin: 20px 60px 0; }
  .search-input input {
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 10px 20px; }
    @media (max-width: 37.5em) {
      .search-input input {
        border-radius: 20px;
        flex-basis: 100%; } }
    @media (min-width: 37.5em) {
      .search-input input {
        border-radius: 20px 0 0 20px;
        flex-basis: 93%; } }
    .search-input input:focus {
      box-shadow: 0 0 5px rgba(100, 150, 255, 0.7);
      transition: 200ms; }
  .search-input .magnifier {
    align-items: center;
    background: #18c033;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    user-select: none;
    transition: filter 100ms; }
    @media (max-width: 37.5em) {
      .search-input .magnifier {
        display: none; } }
    @media (min-width: 37.5em) {
      .search-input .magnifier {
        flex-basis: 7%; } }
    .search-input .magnifier:hover {
      filter: brightness(105%); }
    .search-input .magnifier:active {
      filter: brightness(95%); }
