@import '../style//mobileBreakPoints.scss';

.search-input {
    align-items: stretch;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    height: 45px;
    margin-top: 20px;

    input {
        border: none;

        box-sizing: border-box;

        outline: none;
        padding: 10px 20px;

        @include media(mobile) {
            border-radius: 20px;
            flex-basis: 100%;
        }

        @include media(desktop) {
            border-radius: 20px 0 0 20px;
            flex-basis: 93%;
        }

        &:focus {
            box-shadow: 0 0 5px rgba(100, 150, 255, 0.7);
            transition: 200ms;
        }

    }

    .magnifier {
        align-items: center;
        background: #18c033;
        border-radius: 0 20px 20px 0;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;

        justify-content: center;
        position: relative;
        user-select: none;
        transition: filter 100ms;

        @include media(mobile) {
            display: none;
        }

        @include media(desktop) {
            flex-basis: 7%;
        }

        &:hover {
            filter: brightness(105%);
        }

        &:active {
            filter: brightness(95%);
        }
    }
}