@import "../style//mobileBreakPoints.scss";

.search-input {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;

  .react-autosuggest {
    &__container {
      width: 100%;

      .react-autosuggest__input {
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;

        outline: none;
        padding: 10px 20px;
        width: 100%;

        @include media(mobile) {
          flex-basis: 100%;
        }

        @include media(phablet) {
          flex-basis: 100%;
        }

        &:focus {
          box-shadow: 0 0 5px rgba(100, 150, 255, 0.7);
          transition: 200ms;
        }

        &--open {
          border: none;
          box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.8);

          &:focus {
            box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.8);
          }
        }
      }
    }

    &__suggestions-container {
      background: white;
      box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.7);
      opacity: 0;
      position: relative;
      transition: 200ms;
      z-index: 998;

      &--open {
        opacity: 1;
      }

      ul {
        margin: 0;
        list-style: none;
        padding: 0;

        li {
          a {
            border: 1px solid rgba(0, 0, 0, 0.1);
              display: block;
            cursor: pointer;
            padding: 10px;
            transition: 200ms;
            width: 100%;
          }
          &:hover, &:active {
            background: darken(white, 10%);
          }
        }
      }
    }
  }

  .magnifier {
    align-items: center;
    background: #18c033;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;

    justify-content: center;
    position: relative;
    user-select: none;
    transition: filter 100ms;

    @include media(mobile) {
      display: none;
    }

    @include media(phablet) {
      flex-basis: 7%;
    }

    &:hover {
      filter: brightness(105%);
    }

    &:active {
      filter: brightness(95%);
    }
  }
}
