@import "../../components/style/basics.scss";

$spaces: 20px;

.container {
  margin: 5px auto $spaces;
  width: 96vw;
  position: relative;
  @include media(phablet) {
    margin: 10px auto $spaces;
    width: 90vw;
  }

  .cardContainer {
    background-color: white;
    box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.5);
    margin: 12px 0 30px;
    @include media(tablet) {
      margin: 12px 0 80px;
    }
  }
  .grid {
    display: flex;
    flex-direction: column;
    padding: $spaces;
    position: relative;

    @include media(tablet) {
      display: grid;
      grid-template-columns: 300px 30px 1fr;
    }
    @include media(laptop) {
      grid-template-columns: 450px 30px 1fr;
    }

    .left {
      grid-column: 1/2;

      @include media(phablet) {
      }

      @include media(laptop) {
      }

      %title-shared {
        font-size: $font-size-xlarge;
        margin: 0 10px;
        padding: 0;
      }

      .titleImg {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.7) 0%,
          rgba(0, 0, 0, 0.5) 60%,
          rgba(0, 0, 0, 0) 100%
        );
        color: white;
        position: absolute;
        padding: 16px 10px;
        margin: 0;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;

        @include media(tablet) {
          background: none;
          right: -$spaces/2;
          color: rgb(70, 70, 70);
          position: relative;
        }
      }

      .title {
        @extend %title-shared;
        color: rgb(70, 70, 70);
      }

      .imgContainer {
        height: 260px;
        width: calc(100% + #{$spaces}* 2);
        position: relative;
        top: -$spaces;
        left: -$spaces;

        @include media(tablet) {
          left: 0;
          padding-top: 100%; /* 1:1 Aspect Ratio */
          top: 0;
          width: 100%;
        }
        .img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          @include media(tablet) {
            padding: 10px;
          }
        }
      }

      .rating {
        .label {
          background: red;
        }
      }

      .ingredients {
        display: flex;
        flex-direction: column;

        @include media(tablet) {
          display: grid;
          grid-template-columns: 1fr auto 1fr;
        }

        .listOfIndegredients {
          grid-column: 1/2;
          padding: 10px;

          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              .listItem {
              }
            }
          }
        }
      }
    }

    .buttons {
      grid-column: 3/4;
      padding: 10px;

      button {
        background: linear-gradient(
          135deg,
          $green-main 0%,
          $green-secondary 100%
        );
        color: white;
        margin: 10px 0;
        transition: filter 0.1s;
        width: 100%;

        &:hover {
          filter: brightness(1.1);
        }
        &:active {
          filter: brightness(0.95);
        }
      }
    }

    .steps {
      $stepsPadding: $spaces;
      grid-column: 3/4;
      padding: $spaces/4;
      .title {
        color: rgb(70, 70, 70);
        font-size: 1.6em;
        margin: 0 10px;
        padding: 0;
      }
    }
  }

  .metaData {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .desc {
    padding: $spaces;
  }
}

.separatorH {
  margin: $spaces 0;
}
.separatorV {
  margin: 0 $spaces;
  display: none;

  @include media(tablet) {
    display: block;
  }
}
.ml30 {
  margin-left: 30px;
}
