@import "../../components/style/basics.scss";
.step {
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  margin: 10px -16px 20px;
  padding: 5px;

  @include media(tablet) {
    grid-template-columns: 5fr 2fr;
    margin: 10px 10px 20px;
  }
  .title {
    font-size: 1.2em;
    padding: 0 10px;
  }
  .desc {
    font-size: 1em;
    padding: 0px 15px 10px;
  }
  .imgContainer {
    display: none;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    @include media(tablet) {
      display: block;
    }
    .img {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      padding: 10px;
    }
  }
}
