.home-bg {
  align-items: center;
  background: url("../../assets/img/bg-img.png") no-repeat;
  background-position: 0 -200px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 100px); }

.seach-dialog {
  margin: 0 4%;
  padding: 30px;
  width: 800px; }
  @media (max-width: 37.5em) {
    .seach-dialog {
      height: 160px;
      top: -70px; } }
  @media (min-width: 70em) {
    .seach-dialog {
      height: 180px;
      top: -50px; } }
  .seach-dialog label {
    font-weight: bold; }
    @media (max-width: 37.5em) {
      .seach-dialog label {
        font-size: 1.3em; } }
    @media (min-width: 70em) {
      .seach-dialog label {
        font-size: 1.5em; } }
