.home {
  position: absolute;
  width: 100%; }
  .home-bg {
    position: absolute;
    overflow: hidden;
    width: 100%; }
  .home .seach-dialog {
    margin: 200px 20px;
    padding: 30px; }
    @media (max-width: 37.5em) {
      .home .seach-dialog {
        height: 160px;
        top: -70px; } }
    @media (min-width: 70em) {
      .home .seach-dialog {
        height: 180px;
        margin: 200px auto;
        top: -50px;
        width: 800px; } }
    .home .seach-dialog label {
      font-weight: bold; }
      @media (max-width: 37.5em) {
        .home .seach-dialog label {
          font-size: 1.3em; } }
      @media (min-width: 70em) {
        .home .seach-dialog label {
          font-size: 1.5em; } }
  .home .news {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-gap: 20px;
    padding: 20px; }
