@import "../style/basics.scss";
.home {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  min-height: calc(100vh - 200px);
  width: 100%;
  @include media(tablet) {
    min-height: calc(100vh + 140px);
  }
  @include media(desktop) {
    flex-wrap: nowrap;
  }

  .seachDialog {
    flex: 1 1 100%;
    font-size: $font-size-xsmall;
    height: 120px;
    max-width: 90%;
    margin-top: 100px;
    padding: 20px;

    @include media(tablet) {
      padding: 30px 60px;
      height: 140px;
    }
    @include media(desktop) {
      font-size: $font-size-normal;
      height: 170px;
      flex: 1 1 80%;
      max-width: 1200px;
      padding: 30px 60px;
      transform: translateY(-200px);
      input {
        height: 50px;
      }
    }

    label {
      font-weight: bold;
      font-size: $font-size-xlarge;
    }

    .searchInput {
      margin: 10px 0;
    }
  }

  .background {
    position: absolute;
    width: 100%;

    svg {
      width: 100%;
    }

    @include media(tablet) {
      top: 140px;
    }
  }

  .newses {
    display: flex;
    flex: 1 1;
    justify-content: center;
    gap: 60px;
    @include media(tablet) {
      display: none;
    }

    .news {
      align-items: center;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
  }
}
