@import "../style//mobileBreakPoints.scss";
@import "../style/basics.scss";
.is-scrolled-down {
  @include media(tablet-down) {
    height: 58px;
  }
}
nav {
  background: white;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  height: 100px;
  position: relative;
  z-index: 900;

  @include media(tablet-down) {
    align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0 3%;
    -webkit-transition: height 0.2s ease;
    transition: height 0.2s ease;
  }

  @include media(tablet) {
    padding: 0 10%;
  }

  .nav-logo {
    align-items: center;
    display: flex;
    justify-content: center;

    @include media(tablet-down) {
      flex-basis: 60%;
      height: 90%;
    }

    @include media(tablet) {
      height: 100px;
      flex-basis: 20%;
    }

    .logo {
      height: 70%;
    }
  }

  .nav-buttons-container {
    @include media(tablet-down) {
      display: none;
    }

    @include media(tablet) {
      display: flex;
      flex-basis: 80%;
      justify-content: flex-end;
    }

    .nav-btn {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120px;
      transition: background 200ms ease;

      &:hover {
        background: $green-complementary;

        .nav-btn__ico,
        .nav-btn__txt {
          filter: invert(1);
        }
      }

      &--active {
        background: $green-secondary;

        .nav-btn__ico,
        .nav-btn__txt {
          filter: invert(1);
        }
      }

      &__txt {
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
          "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
      }

      &--SignIn {
        align-items: center;
        align-self: center;
        background: linear-gradient(
          135deg,
          $green-complementary 0%,
          $green-secondary 100%
        );
        border: 1px solid $green-secondary;
        color: white;
        display: flex;
        justify-content: center;
        font-weight: bold;
        height: 50px;
        line-height: 1em;
        margin-left: 30px;
        transition: 200ms;
        width: 140px;

        &:hover {
          cursor: pointer;
          filter: brightness(105%);
        }

        &:active {
          filter: brightness(95%);
          transition: 100ms;
        }
      }
    }
  }

  .user-profile-button {
    align-items: center;
    color: black;
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    padding: 10px;
  }

  .burger {
    display: none;
    font-size: 8px;
    justify-content: center;

    @include media(tablet-down) {
      display: flex;
      flex-basis: 10%;

      .burger-lines,
      .burger-lines:after,
      .burger-lines:before {
        background-color: black;
        width: 3em;
      }
    }
  }
}
