@import "../style/basics.scss";
.footer {
    background: #424d53;
    color: #81929a;

    align-items: center;
    display: flex;
    justify-content: center;

    height: 300px;

    font-size: $font-size-huge;
}