.App {
  /* background: #f5f5f5; */
  height: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0; }

a {
  color: initial;
  text-decoration: none; }

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 150ms; }
  .btn:hover {
    filter: brightness(110%); }
  .btn:active {
    filter: brightness(90%); }
