@import "../style/basics.scss";
.form-container {
  max-width: 600px;
  padding: 10px;
  position: relative;

  @include media(phablet) {
    margin: 20px auto;
  }
}

.form-content {
  background: white;
  padding: 16px 16px 26px;
  position: relative;

  @include media(phablet) {
    padding: 30px 40px;
  }

  .progressBar{
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.preview-img {
  width: 100%;
  max-height: 200px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.chooseImgContainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-direction: column;

  .input--file {
    &--cta {
      border: none;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      justify-content: center;
      width: 100%;
    }
  }
}

.buttons {
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px;
  
  .button {
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.3);
    font-size: xx-large;
    height: 50px;
    margin: 10px;
    padding: 0px;
    width: 50px;

    &:hover {
      box-shadow: 0 0px 6px -2px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.3);
    }

    &--add {
      @extend .button;
      color: $green-main;
    }

    &--remove {
      @extend .button;
      color: rgb(200, 0, 0);
    }
  }
}
