@import "../style/basics.scss";
.input--file{
  &--cta{
    justify-content: center;
    width: 100%;
  }
}
.buttons {
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px 0 26px;
  .button {
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.3);
    font-size: xx-large;
    height: 50px;
    margin: 10px;
    padding: 0px;
    width: 50px;

    &:hover {
      box-shadow: 0 0px 6px -2px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.3);
    }

    &--add {
      @extend .button;
      color: $green-main;
    }

    &--remove {
      @extend .button;
      color: rgb(200, 0, 0);
    }
  }
}

.form-container {
  padding: 10px;
}
.form-content {
  background: white;
  padding: 10px;
}
.test {
}

.preview-img {
  width: 150px;
  height: 150px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
